* {
  margin: 0;
}

html, body {
  height: 100%;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: wheat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;  
}
header {
  text-align: center;
  background-color: #FF9C00;
  padding: 2% 0;
}
main {
  flex: 1 1 auto;
  background-color: #BF8830;
}
.slider {
  position: relative;
}

.slider-view {
  width: 400px;
  height: 400px;
  background-color: aquamarine;
}

input.memInput {
  display: none;
}
input.memInput + label{
  display: block;
  margin: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
input.memInput + label > div {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background-color: #FFB300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
input.memInput + label:hover > div {
  background-color: #ECFF00;
}
input.memInput:checked + label > div > div {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background-color: #5000FF;
}


/* input.memInput:checked + label {
  background-color: blue;
} */
/* label > div{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

label > div:hover {
  background-color: brown;
  cursor: pointer;
} */




footer {
  background-color: #FFC973;
  color: #A66500;
  padding: 10px 5%;
}

footer img {
  width: 40px;
  margin: 0 3%;
}

footer > a {
  text-decoration: none;
  color: #A66500;
  display: flex;
  align-items: center;
}



